@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Syne:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal3-main {
  display: inline-flex;
  position: fixed;
  top: 10%;
  right: 15%;
  z-index: 400;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
}

.modal3-box3 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.modal3-innerboxa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.modal3-para1 {
  display: flex;
  align-self: stretch;
  color: #94248c;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
.modal3-parabox {
  display: flex;
  width: 317px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

#text-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

#text-1 {
  text-align: start;
  display: flex;
  flex: 1 0 0;
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  align-self: stretch;
}
